@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Manage Customers</h1>
    <div class="container" style="margin-top:20px;">
        <div class="row">
            <div class="col-md-3" style="margin-left:300px;">
                <a class="btn btn-primary" asp-area="" asp-page="/Customers/View">View Customers</a>
            </div>
            <div class="col-md-3" style="margin-right:200px;">
                <a class="btn btn-secondary" asp-area="" asp-page="/Customers/Add">Add New Customer</a>
            </div>
        </div>
    </div>
</div>
